<div class="container block-bg">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>:) Oops!</h1>
        <h2>Temporarily down for development</h2>
        <h1>We are working on this!</h1>
        <div>
          <p>we’ll be online soon!</p>
          <p>— The Team</p>
        </div>
        <!-- <div class="error-actions">
          <a [routerLink]="[ '/' ]" class="btn btn-info btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home
          </a>
        </div> -->
      </div>
    </div>
  </div>
</div>
