.box {
  /* margin-left: 25%;
  margin-right: 25%;
  margin-top: 5%; */
  margin: 2% 10%;
  width: 80%;
  min-width: 60%;
  height: 70%;
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 5%;
}

span {
  font-family: "Abaddon";
  font-size: 60px;
}

.btn-d3 {
  font-family: 'Abaddon';
}
